<div style="background-color:grey;">
<nav style="text-align: center;background-color: slateblue;height: 40px;font-size:50px; font-family: cursive; color: darkorange;">LIVE VIDEO STREAMING</nav>                
<div style="padding-top: 20px;">
    
        <img style="margin: 30px; border: solid green ;border-radius: 10px; height: 250px;width: 250px;" src="{% url 'videostream'%}">
    
        <img  style="margin: 30px; border: solid rgb(253, 3, 3) ;border-radius: 10px;height: 250px;width: 250px;"  src="{% url 'videostream'%}">

        <img  style="margin: 30px; border: solid rgb(153, 3, 253) ;border-radius: 10px; height: 250px;width: 250px;"src="{% url 'videostream'%}">
    
    
        <img  style="margin: 30px; border: solid rgb(186, 253, 3) ;border-radius: 10px; height: 250px;width: 250px;"  src="{% url 'videostream'%}">

    
  </div>
</div>
<div style="font-style: italic;font-size: 20px;color: red;">Developed by: Sonu Kumbhkar

</div>